<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="/social-auth/login/vk-oauth2"><img src="/static/vk.png" class="avatar-3" data-toggle="tooltip"></a>
        <a href="/social-auth/login/google-oauth2"><img src="/static/google.png" class="avatar-3" data-toggle="tooltip""></a>
        <button type="submit">войти</button>
    </form>
</body>
</html>